@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    text-align: center;
}

h1 {
    color: #1f1f1f;
}

p {
    color: #1f1f1f;
    line-height: 1.5;
}

.loaderContainer {
    color: #d5af65;
    font-size: 80px;
}

.redirectText {
    margin-bottom: 20px;
}

.redirectButton {
    margin-top: 10px;
    padding: 8px 50px;
    font-size: 18px;
    background-color: #d5af65;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: inline-block;
}

.redirectButton:hover {
    background-color: #cfa451;
}

.no-margin {
    margin: 0;
}

@media (max-width: 480px) {
    .container {
        background-color: transparent;
        box-shadow: none;
    }
    h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    p {
        font-size: 14px;
    }
    .redirectButton {
        margin-top: 20px;
    }
}