<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ProjectSphere</title>
    <meta name="description" content="Лучший сайт о веб-разработке, обучении и трендах технологий.">
    <meta name="keywords" content="веб-разработка, HTML, CSS, JavaScript, обучение">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<header class="header">
  <div class="header-logo">
    <img src="{{ url_for('static', filename='images/iconMain.png') }}">
</div>
<input type="checkbox" id="nav_check" hidden>
<nav>
    <div class="header-logo">
        <img src="{{ url_for('static', filename='images/iconMain.png') }}">
    </div>
    <ul>
        <li>
            <a href="#about">О компании</a>
        </li>
        <li>
            <a href="#project">Проекты</a>
        </li>
        <li>
            <a href="#partners">Партнеры</a>
        </li>
        <li>
            <a href="/logout" class="active">Выйти с аккаута</a>
        </li>
    </ul>
</nav>
<label for="nav_check" class="menu">
    <div></div>
    <div></div>
    <div></div>
</label>
</header>

<a href="" class="contact-button" id="contactButton">
  <i class='bx bxs-contact icon-i-white'></i>
</a>
<div class="contact-menu" id="contactMenu">
  <div class="contact-item">
    <a href="tel:+77075207476" target="_blank">
      <i class='bx bxs-phone-call icon-i-white'></i>
    </a>
  </div>
  <div class="contact-item">
    <a href="./redirect/whatsapp.html" target="_blank">
      <i class='bx bxs-chat icon-i-white'></i>
    </a>
  </div>
</div>

<div class="header-background-intro">
    <video autoplay loop muted>
        <source src="{{ url_for('static', filename='images/background3.mp4') }}" type="video/mp4">
    </video>
    <div class="header-background-intro-text">
        <h1 id="about">ProjectSphere</h1>
        <p>Платформа для тех, кто хочет предложить или найти идеи для IT-проектов. Пользователи могут делиться своими мыслями, голосовать за лучшие концепты и даже формировать команды для их реализации.</p>
        <div class="button">
        </div>
    </div>
</div>


<div class="basic-section" id="service">
  <div class="service-container w-container">
    <div class="service-breadcrumbs-section">ProjectSphere</div>
    <h2 class="heading-pg">Поделитесь вашей идеей стартапа, которую вы хотите видеть реализованной.</h2>
    <p class="description-pg"></p>

    <div class="note-section" id="inputContest">
        <h1 class="note-title" id="project">Ваши идеи</h1>
      <input 
        type="text" 
        class="note-input" 
        placeholder="Введите идею..." 
        id="inputIdea"
      />
      <button class="note-button" id="create">Добавить</button>
      <p id="errorCheck"></p>
      </div>
    <div class="w-layout-grid service-grid">
<!-- карточка див    -->
    {% for idea in ideas %}
      <div class="service-card w-inline-block" id="{{ idea.id }}">
        <div class="service-content">
<!--          <h1>Пользователь выбирает профессию или навыки, которые хочет освоить (например, Data Science, Frontend-разработка или изучение языка). Платформа создает интерактивную карту обучения с рекомендациями курсов, книг, практических заданий и этапами роста.</h1>-->
            <h1>{{ idea.idea_text }}</h1>
          <div class="service-tab-holder">
            <div class="servce-tag">
              <div class="service-text-tag" id="deleteCard">Удалить</div>
            </div>
            <div class="servce-tag">
              <div class="service-text-tag">{{ idea.username }}</div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
<!-- карточка див    -->
    </div>
  </div>
</div>


<div class="basic-section" id="feedback">
  <div class="basic-container w-container">
    <div class="service-breadcrumbs-section">контактная информация ProjectSphere</div>
    <h2 class="heading-pg" id="partners">Свяжитесь с нами для получения консультации:</h2>
    <p class="description-pg"></p>
    <div class="bg-data-container">
      <div class="data-container">
        <div class="data">
          <div class="basic-icon orange">
            <i class='bx bxs-phone icon-i'></i>
          </div>
          <h2>Номера телефона</h2>
          <p>+1-800-555-IDEA</p>
          <p>+1-800-555-IDEA</p>
          <p>+1-800-555-IDEA</p>
        </div>

        <div class="data">
          <div class="basic-icon orange">
            <i class='bx bx-current-location icon-i' ></i>
          </div>
          <h2>Где мы находимся?</h2>
          <p>Казахстан, 050000, город Алматы, улица Жандосова, 55</p>
        </div>

        <div class="data">
          <div class="basic-icon orange">
            <i class='bx bx-mail-send icon-i' ></i>
          </div>
          <h2>Email-Адреса</h2>
          <p>ideas@projectsphere.com</p>
          <p>ideas@projectsphere.com</p>
        </div>
      </div>
      <div class="map-container">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7223df1d15c3599fd5336cf8b3ba91ee4081f3a419e393f6294006ca48280e88&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true&amp;theme=dark"></script>      </div>
    </div>
  </div>
</div>

<footer>
  <p>@ 2024 — ProjectSphere. Все права защищены</p>
  <p><a href="#">INFORMATION TECHNOLOGY COMPANY</a></p>
</footer>


</body>
<script src="{{ url_for('static', filename='js/index/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/index/contact-open-icon.js') }}"></script>
</html>