<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
    <div class="form">
        <form action="#" class="sub-form">
            <div class="upper-form">
            <h2>Login Form</h2>
                <label>Username</label>
                <input type="text" name="username"> <br>
                <label>Password</label>
                <input type="text" name="password"> <br>
                <div class="btm">
                    <button type="submit">Login</button> <br>
                </div>
            </div>
            <div class="bottom-form">
                <div class="no-account">Don't have an account? </div>
                <a href="#" class="signup">Signup</a>
            </div>

        </form>
    </div>
    <div style="margin-bottom: 100px;"></div>
<footer>
  <p>@ 2024 — ProjectSphere. Все права защищены</p>
  <p><a href="#">INFORMATION TECHNOLOGY COMPANY</a></p>
</footer>
</body>
</html>