<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5;url=https://wa.me/+77075207476">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjectSphere  - Перенаправление</title>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../css/redirect/redirect.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="loaderContainer">
            <i class='bx bx-loader-alt bx-spin'></i>
        </div>
        <h1>Перенаправление</h1>
        <p class="redirectText no-margin">Вы будете перенаправлены на новый адрес через 5 секунд.</p>
        <p class="redirectText no-margin">Если это не произошло, пожалуйста, нажмите на кнопку:</p>
        <a href="https://wa.me/+77075207476" class="redirectButton">Перейти</a>
    </div>
</body>
</html>
